@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(162, 231, 191);
    color: rgb(25 25 25);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid red;
    background-color: whitesmoke);
    color: rgb(25 25 25);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

p {
    display: flex;
    align-items: center;
    text-align:center;
    justify-content: center;
    flex-direction: column;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
    color: rgb(25 25 25);
}